main {
    display: grid;
    grid-template-columns: 20% 55% 25%;
    grid-template-rows: 55px 1fr;
}

nav {
    background: blue;
    grid-row: 1;
    grid-column: 1 / 4;
}

section {
    background: grey;
    grid-column: 1 / 2;
    grid-row: 2;
}

section div {
    position: sticky;
    top: 0;
}

article {
    background: yellow;
    grid-column: 2 / 4;
}

article p {
    padding-bottom: 1500px;
}